<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/main.css" rel="stylesheet">
</head>
<body class="greyback">
  <div>
    <div class="page-container">
    <%- include('nav.ejs') %>
    <div class="big">
        <div class="middle">
            <div class="category-tabs">
                <button class="tab active">ì „ì²´</button>
                <button class="tab">ðŸ“¢ ê³µì§€</button>
            </div>              
            <% for (let i = 0; i < ê¸€ëª©ë¡.length; i++) { %>
                <div class="list-box">
                  <h4>
                    <a href="/detail/<%= ê¸€ëª©ë¡[i]._id %>">
                      <%= ê¸€ëª©ë¡[i].title %>
                    </a>
                  </h4>
                  <div class="list-meta">
                    <span><%= ê¸€ëª©ë¡[i].author %></span>
                    <span><%= ê¸€ëª©ë¡[i].date %></span>
                  </div>
                </div>
              <% } %>
        </div> 
        <div class="side">
            <div class="small">div small1</div>
            <div class="small">div small2</div>
        </div>
    </div>
  </div>
</body>
</html>
